@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$stack_color: #0047FF;
.forms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    form {
        display: flex;
        flex-direction: column;
        width: 438px;
        text-align: center;
        input {
            margin: 8px 0;
            border: 2px solid black;
            border-radius: 10px;
            padding: 20px 25px;
            &::placeholder {
                opacity: 1;
                font-weight: 600;
                text-transform: capitalize;
                color: black;
            }
        }
        button {
            background-color: $stack_color;
            border-radius: 10px;
            height: 56px;
            color: white;
            border: none;
        }
    }
    .switch {
        font-size: 16px;
        font-weight: 700;
        color: $stack_color;
        text-decoration: none;
        margin-top: 32px;
    }
}