<template>
  <div id="enter" class="forms">
    <form @submit="AddWallet()">
      <h1 class="form-title">Добавить кошелек</h1>
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="currency" name="currency" />
      <button>Продолжить</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  methods: {
    ...mapActions(["AddWallet"]),
  },
};
</script>

<style>
</style>