<template>
	<div id="enter" class="forms">
		<form @submit="SIGN_IN()">
			<h1 class="form-title">Регистрация</h1>
			<input type="text" placeholder="email" name="email"/>
			<input type="text" placeholder="password" name="password"/>
			<button>Продолжить</button>
			<router-link to="/Enter" class="switch">Регистрация</router-link>
		
		</form>
	</div>
</template>

<script>
import { mapActions } from "vuex"

export default {
	methods: {
		...mapActions(["SIGN_IN", "CHECK_ME"])
	},
};
</script>

<style>
</style>

 