<template>
  <div id="trans">
    <Header />
    <div class="wrapper">
      <main>
        <div class="cont-main">
          <div class="main-top-title">
            <p class="main-title">Мои транзакции</p>
            <p class="main-email">{{infos.email}}</p>
          </div>

          <p class="wall-title">Последние транзакции</p>
          <div class="cont-actions">
            <div class="item">
              <p class="title-action">ID</p>

              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
            </div>
            <div class="item">
              <p class="title-action">Отправлено с кошелька</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
            </div>
            <div class="item">
              <p class="title-action">Категория</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
            </div>
            <div class="item">
              <p class="title-action">Сумма транзации</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
            </div>
            <div class="item">
              <p class="title-action">Когда</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
            </div>
          </div>
          <router-link to="/AddTransAct">
            <button class="add-btn">Добавить</button>
          </router-link>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";

import Header from "../components/Header.vue";
export default {
  components: {
    Header,
  },
  computed: {
    ...mapGetters(["infos"]),
  },
  methods: {
    ...mapActions(["CHECK_ME", "SAVE_NAME", "SAVE_EMAIL", "SAVE_SECONDNAME"]),
  },
  created() {
    this.CHECK_ME();
    this.SAVE_NAME();
    this.SAVE_EMAIL();
    this.SAVE_SECONDNAME();
  },
};
</script>

<style>
</style>