<template>
  <div id="wallet">
    <Header />
    <div class="wrapper">
      <main>
        <div class="cont-main">
          <div class="main-top-title">
            <p class="main-title">Мои кошельки</p>
            <p class="main-email">{{infos.email}}</p>
          </div>
          <p class="wall-title">Мои кошельки</p>
          <div class="cont-wallets">
            <div class="item">
              <p class="item-top">Visa</p>
              <p class="item-bottom">RUB</p>
            </div>
            <!-- <div class="item">
              <p class="item-top">Visa</p>
              <p class="item-bottom">RUB</p>
            </div>
            <div class="item">
              <p class="item-top">Visa</p>
              <p class="item-bottom">RUB</p>
            </div>
            <div class="item">
              <p class="item-top">Visa</p>
              <p class="item-bottom">RUB</p>
            </div>
            <div class="item">
              <p class="item-top">Visa</p>
              <p class="item-bottom">RUB</p>
            </div>
            <div class="item">
              <p class="item-top">Visa</p>
              <p class="item-bottom">RUB</p>
            </div>
            <div class="item">
              <p class="item-top">Visa</p>
              <p class="item-bottom">RUB</p>
            </div> -->
          </div>
          <router-link to="/AddWallet">
            <button class="add-btn">Добавить</button>
          </router-link>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import { mapActions, mapMutations, mapGetters } from "vuex";
  
export default {
  components: {
    Header,
  },
   computed: {
    ...mapGetters(["infos"]),
  },
  methods: {
    ...mapActions(["CHECK_ME", "SAVE_NAME", "SAVE_EMAIL", "SAVE_SECONDNAME"]),
  },
  created() {
    this.CHECK_ME();
    this.SAVE_NAME();
    this.SAVE_EMAIL();
    this.SAVE_SECONDNAME();
  },
};
</script>

<style>
</style>