<template>
  <div id="header">
    <div class="act">
      <router-link  class="haeder-nav" to="/">
        <p >Главная</p>
      </router-link>
      <router-link class="haeder-nav" to="/Wallets">
        <p >Мои кошельки</p>
      </router-link>
      <router-link class="haeder-nav" to="/TransAct">
        <p>Мои транзакции</p>
      </router-link>
    </div>
    <div class="about">
      <p>{{ infos.email }}</p>
      <div class="logo">
        <img @click="GO_SIGN()" src="../../public/logo.png" alt="" />
      </div>
    </div>
  </div>
</template>


<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["infos"]),
  },
  methods: {
    ...mapActions(["GO_SIGN", "SAVE_NAME", "SAVE_EMAIL", "SAVE_SECONDNAME"]),
  },
  created() {
    this.SAVE_NAME();
    this.SAVE_EMAIL();
    this.SAVE_SECONDNAME();
  },
};
</script>

<style>
</style>